
.header {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}

.logo {
    padding: 10px 30px;
    font-size: 30px;
    display: flex;
}

#dot {
    color: green;
    font-weight: 900;
}

.header-right {
    margin-right: 30px;
    padding: 5px;
    width: 20%;
    display: flex;
    justify-content: space-between;
}

.home-btn, .about-btn {
    cursor: pointer;
}

